<link rel="import" href="/bower_components/polymer-redux/polymer-redux.html">
<script src="/node_modules/redux/dist/redux.js"></script>
<script>

//Storage
let token = localStorage.getItem("token");
let nombreusuario = localStorage.getItem("nombreusuario");
let marcas = JSON.parse(localStorage.getItem("marcas")||'[]');
let paises = JSON.parse(localStorage.getItem("paises")||'[]');

//Valores Iniciales
const initial = {
  isLogged: (token!=undefined),
  nombreusuario: nombreusuario,
  idpersona: '',
  notificacion:undefined,
  isLoading: false,
  marcas: marcas,
  paises: paises
};

const reducer = (state, action) => {
    switch (action.type) {
      case 'UPDATE_LOGIN_STATE':
        return Object.assign({}, state, {
          isLogged:action.message
        });

      case 'UPDATE_USERNAME':
        return Object.assign({}, state, {
          nombreusuario:action.message
        });

      case 'UPDATE_IDPERSONA':
        return Object.assign({}, state, {
          idpersona:action.message
        });

      case 'UPDATE_NOTIFICACION':
        return Object.assign({}, state, {
          notificacion:action.message
        });
      
      case 'UPDATE_LOADING':
        return Object.assign({}, state, {
          isLoading:action.message
        });

      case 'UPDATE_MARCAS':
        return Object.assign({}, state, {
          marcas:action.message
        });

      case 'UPDATE_PAISES':
        return Object.assign({}, state, {
          paises:action.message
        });

      default:
        return state;
    }
  };

  const store = Redux.createStore(reducer, initial);

  ReduxMixin = PolymerRedux(store);
</script>