<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/components/redux/redux-mixin.html">

<dom-module id="no-deseados-loading">
    <template>
      <style>
          #cover-spin {
              position:fixed;
              width:100%;
              left:0;right:0;top:0;bottom:0;
              background-color: rgba(255,255,255,0.7);
              z-index:999;
          }
    
          @-webkit-keyframes spin {
            from {-webkit-transform:rotate(0deg);}
            to {-webkit-transform:rotate(360deg);}
          }
    
          @keyframes spin {
            from {transform:rotate(0deg);}
            to {transform:rotate(360deg);}
          }
    
          #cover-spin::after {
              content:'';
              display:block;
              position:absolute;
              left:48%;top:40%;
              width:40px;height:40px;
              border-style:solid;
              border-color:#072146;
              border-top-color:transparent;
              border-width: 4px;
              border-radius:50%;
              -webkit-animation: spin .8s linear infinite;
              animation: spin .8s linear infinite;
          }
        </style>
        <div id="cover-spin"></div>
    </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class NoDeseadosLoading extends ReduxMixin(Polymer.Element) {
      static get is() { return 'no-deseados-loading'; }
      static get properties() {
        return {
          loading: {
            type: String,
            value: 'loading'
          }
        };
      }
      
    }

    window.customElements.define(NoDeseadosLoading.is, NoDeseadosLoading);
  </script>
</dom-module>
