<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/components/redux/redux-mixin.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-selector/iron-selector.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/app-layout/app-layout.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/app-route/app-location.html">
<link rel="import" href="/bower_components/app-route/app-route.html">

<link rel="import" href="/src/components/personas/datos-persona.html">
<link rel="import" href="/src/components/personas/consulta-persona.html">
<link rel="import" href="/src/components/personas/carga-masiva.html">
<link rel="import" href="/src/components/marcas/configuracion-marca.html">

<dom-module id="no-deseados-home">
    <template>
        <style>
          app-header {
            background-color: #072146;
            color: #fff;
          }
          paper-icon-button {
            --paper-icon-button-ink-color: white;
          }
          .nav-menu {
            background-color: var(--app-primary-color);
            color: #072146;
          }
          a {
            text-decoration: none;
            color: inherit;
            font-size: inherit;
          }
          .nav-menu > a {
            display: block;
            padding: 12px 16px;
            font-size: 20px;
            font-weight: 500;
          }
          .nav-menu > a.iron-selected {
            background-color: #1d73b2;
            color: white;
          }
          .user-toolbar {
            font-size: 16px;
          }
          .header__image {
              height: 25px;
              width: 100%;
              will-change: height;
              margin: 0 auto;
              -webkit-transition: height .33333s;
              transition: height .33333s;
              max-width: none;
              display: inline-block;
          }
        </style>
        <app-location route="{{route}}" use-hash-as-path></app-location>
        <app-route
            route="{{route}}"
            pattern="/:page"
            data="{{routeData}}"
            tail="{{subroute}}">
        </app-route>
        <app-route
            route="{{subroute}}"
            pattern="/:id"
            data="{{subrouteData}}">
        </app-route>

        <app-drawer-layout>
          <app-header-layout>
            <app-header reveals fixed>
              <app-toolbar>
                <paper-icon-button icon="menu" on-click="toggle"></paper-icon-button>
                <div main-title>[[titulo]]</div>
                <div class="user-toolbar">
                    <span>[[nombreusuario]] | </span>
                    <a href="#" on-click="logout">Logout</a>
                </div>
              </app-toolbar>
            </app-header>
            <!-- contenido-->
            <iron-pages selected="[[routeData.page]]" attr-for-selected="name">
                <consulta-persona name="consulta" route="{{subroute}}"></consulta-persona>
                <datos-persona name="persona" route="{{subroute}}"></datos-persona>
                <carga-masiva name="carga" route="{{subroute}}"></carga-masiva>
                <configuracion-marca name="marca" route="{{subroute}}"></configuracion-marca>
            </iron-pages>
          </app-header-layout>
          <app-drawer id="drawer" swipe-open>
            <app-header-layout has-scrolling-region>
              <app-header>
                <app-toolbar class="title-toolbar nav-title-toolbar">
                    <div class="rate-header">
                      <img src="https://www.bbva.pe/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg" 
                      scrset="https://www.bbva.pe/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg" 
                      sizes="(min-width: 900px) 20vw,50vw" itemprop="logo" class="header__image" alt="BBVA" role="img">
                    </div>
                </app-toolbar>
            
              </app-header>
            
              <!-- nav menu -->
              <iron-selector id="menu" 
                  class="nav-menu" 
                  attr-for-selected="name" 
                  on-iron-select="_menuChanged"> 
                <a name="consulta" href="#/consulta/">Consulta de personas</a>
                <a name="persona" href="#/persona/">Registrar no deseado</a>
                <a name="carga" href="#/carga/">Carga masiva</a>
                <a name="marca" href="#/marca/">Configuración marcas</a>
              </iron-selector>
            </app-header-layout>
          </app-drawer>
        </app-drawer-layout>
        <iron-ajax
            id="getmarcas"
            method="GET"
            url="https://techu-practitioner.herokuapp.com/api/v2/parametrias"
            handle-as="json"
            on-response="handleGetMarcasResponse"
            on-error="handleGetMarcasError"
            debounce-duration="300">
        </iron-ajax>
        <iron-ajax
            id="getpaises"
            method="GET"
            url="https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/slim-3/slim-3.json"
            handle-as="json"
            on-response="handleGetPaisesResponse"
            on-error="handleGetPaisesError"
            debounce-duration="300">
        </iron-ajax>
      </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NoDeseadosHome extends ReduxMixin(Polymer.Element) {
      static get is() { return 'no-deseados-home'; }
      static get properties() {
        return {
          titulo: {
            type: String,
            value: 'Personas no deseadas'
          },
          nombreusuario: {
            type: String,
            statePath: 'nombreusuario'
          },
          subrouteData: {
            type: Object,
            observer: '_subrouteDataChanged'
          }
        };
      }

      static get observers() {
        return [
          '_viewChanged(routeData.page)'
        ]
      }

      ready() {
        super.ready();
        this._iniciarListas();
      }

      _iniciarListas(){
        let token = localStorage.getItem('token');
        if(!token) return;
        if(!localStorage.getItem('marcas')){
          this._getMarcas(token);
        }
        if(!localStorage.getItem('paises')){
          this._getPaises(token);
        }
      }

      _getMarcas(token){
        this.$.getmarcas.headers['tokentechu'] = token;
        this.$.getmarcas.generateRequest();
      }

      _getPaises(token){
        this.$.getpaises.generateRequest();
      }

      _menuChanged(e){
        this.titulo= this.$.menu.selectedItem.text;
        this.$.drawer.close();
      }

      _viewChanged(view) {
        if(view){
          if(this.$.menu.selectedItem == undefined ||
             this.$.menu.selectedItem.name != view){
            this.$.menu.selected = view;
          }
        } else {
          document.location.href="/#/consulta/";
        }
      
      }

      logout() {
        localStorage.clear();
        document.location.href="/";
      }

      _subrouteDataChanged(){
        this.dispatch({
            type: 'UPDATE_IDPERSONA',
            message: this.subrouteData.id
        });
      }

      toggle() {
        this.$.drawer.toggle();
      }

      handleGetMarcasResponse(data){
        let resp = data.detail.response;
        
        if(resp) {
          let marcas = resp.map(function(row) {
            return { id : row.codigo, value : row.valor }
          });
          localStorage.setItem("marcas", JSON.stringify(marcas));

          this.dispatch({
              type: 'UPDATE_MARCAS',
              message: marcas
          });
        }

      }

      handleGetPaisesResponse(data){
        let resp = data.detail.response;
        
        if(resp) {
          let paises = resp.map(function(row) {
            return { id : row['alpha-3'], value : row.name.toUpperCase() }
          });
          localStorage.setItem("paises", JSON.stringify(paises));

          this.dispatch({
              type: 'UPDATE_PAISES',
              message: paises
          });
        }

      }

      handleGetMarcasError(data){
        console.log(data.detail.response);
        localStorage.setItem("marcas", []);
      }

      handleGetPaisesError(data){
        console.log(data.detail.response);
        localStorage.setItem("paises", []);
      }
    }

    window.customElements.define(NoDeseadosHome.is, NoDeseadosHome);
  </script>
</dom-module>
