<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/components/redux/redux-mixin.html">
<link rel="import" href="/src/components/main/no-deseados-home.html">
<link rel="import" href="/src/components/auth/user-login.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/src/components/main/no-deseados-loading.html">

<dom-module id="no-deseados-app">
    <template>
      <dom-if if=[[!isLogged]]>
        <template>
            <user-login></user-login>
        </template>
      </dom-if>
      <dom-if if=[[isLogged]]>
          <template>
              <no-deseados-home></no-deseados-home> 
          </template>
      </dom-if>
      <paper-toast id="tmessage"></paper-toast>
      <no-deseados-loading hidden$=[[!isLoading]]></no-deseados-loading>
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NoDeseadosApp extends ReduxMixin(Polymer.Element) {
      static get is() { return 'no-deseados-app'; }
      static get properties() {
        return {
          isLogged: {
            type: Boolean,
            statePath: 'isLogged'
          },
          notificacion: {
            type: Object,
            statePath: 'notificacion',
            observer: '_notificacionChanged'
          },
          isLoading: {
            type: Boolean,
            statePath: 'isLoading'
          }
        };
      }

      _notificacionChanged(){
        this.$.tmessage.text = this.notificacion.msg;
        this.$.tmessage.open();
      }
      
    }

    window.customElements.define(NoDeseadosApp.is, NoDeseadosApp);
  </script>
</dom-module>
