<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/components/redux/redux-mixin.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-button-group/paper-button-group.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-datatable-api/paper-datatable-api.html">
<link rel="import" href="/bower_components/paper-datatable-api/paper-datatable-api-column.html">
<link rel="import" href="/bower_components/paper-tags/paper-tags.html">

<dom-module id="configuracion-marca">
  <template>
    <style>
      :host {
        --paper-datatable-api-header: {
          color: var(--paper-light-blue-900);
        }
        --paper-datatable-api-custom-td: {
            height: 30px;
        }
      }
      paper-datatable-api {
        margin-top: 10px;
        border: 1px solid #BDBDBD;
        --paper-datatable-api-height: 150px;
      }
      paper-card {
        width: 100%;
      }
      paper-dropdown-input{
        width: 100%;
      }
      paper-dropdown-menu{
        width: 100%;
      }
      paper-tags{
        margin-top: 10px;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        width:100%;
        min-height: 30px;
        padding: 5px 5px 5px 5px;
      }
      iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
      }
      .flex-horizontal {
        @apply --layout-horizontal;
      }
      .flexchild {
        @apply --layout-flex;
        padding:0px 15px 0px 0px;
      }
      .flex-center-justified {
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        margin-top: 10px;
      }
      paper-button {
        transition: background-color 0.3s;
        text-transform: none;
        font-size: 0.8em;
        height: 35px;
      }
      paper-button[active] {
          color: white;
          background-color: var(--paper-blue-500);
          --paper-button-flat-focus-color: var(--paper-blue-50);
      }
    </style>
    <paper-card>
      <div class="card-content">
        <paper-datatable-api data="[[marcas]]">
            <paper-datatable-api-column header="#" property="nrofila">
              <template>
                <span>{{value}}</span>
              </template>
            </paper-datatable-api-column>
            <paper-datatable-api-column header="Código" property="codigo">
              <template>
                <span>{{value}}</span>
              </template>
            </paper-datatable-api-column>
            <paper-datatable-api-column header="Valor" property="valor">
              <template>
                <span>{{value}}</span>
              </template>
            </paper-datatable-api-column>
            <paper-datatable-api-column header="" property="" other-properties='["codigo"]' tdCustomStyle>
              <template>
                <paper-button on-click="verDetalle" data-args$="[[otherValues.codigo]]">
                    <iron-icon icon="create" data-args$="[[otherValues.codigo]]"></iron-icon>
                </paper-button>
              </template>
            </paper-datatable-api-column>
          </paper-datatable-api>
          <div class="container flex-horizontal">
                <div class="flexchild">
                    <paper-input always-float-label label="Código" name="codmarca" id="codmarca" autofocus
                                maxlength=3 prevent-invalid-input allowed-pattern="[\d]" value="{{marcaedit.nvocodigo::input}}">
                    </paper-input>
                </div>
                <div class="flexchild">
                    <paper-input always-float-label label="Valor" name="valmarca" id="valmarca" value="{{marcaedit.valor::input}}"
                                maxlength=30>
                    </paper-input>
                </div>
          </div>
          <div class="container flex-center-justified">
              <paper-button raised on-click="reset"><iron-icon icon="add"></iron-icon>Nuevo</paper-button>
              <paper-button raised on-click="guardar"><iron-icon icon="save"></iron-icon>Guardar</paper-button>
              <paper-button raised on-click="eliminar" disabled="[[!marcaedit.codigo]]"><iron-icon icon="delete"></iron-icon>Eliminar</paper-button>
          </div>
      </div>
    </paper-card>
    <iron-ajax
        id="getmarcas"
        method="GET"
        url="https://techu-practitioner.herokuapp.com/api/v2/parametrias/"
        handle-as="json"
        on-response="handleGetMarcasResponse"
        on-error="handleGetMarcasError"
        debounce-duration="300">

    <iron-ajax
        id="postmarcas"
        method="POST"
        url="https://techu-practitioner.herokuapp.com/api/v2/parametrias/"
        handle-as="json"
        content-type="application/json"
        on-response="handlePostMarcasResponse"
        on-error="handleMarcasError"
        debounce-duration="300">
    </iron-ajax>

    <iron-ajax
        id="putmarcas"
        method="PUT"
        url="https://techu-practitioner.herokuapp.com/api/v2/parametrias/[[marcaedit.codigo]]"
        handle-as="json"
        content-type="application/json"
        on-response="handlePutMarcasResponse"
        on-error="handleMarcasError"
        debounce-duration="300">

    <iron-ajax
        id="delmarcas"
        method="DELETE"
        url="https://techu-practitioner.herokuapp.com/api/v2/parametrias/[[marcaedit.codigo]]"
        handle-as="json"
        on-response="handleDelMarcasResponse"
        on-error="handleMarcasError"
        debounce-duration="300">

    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ConfiguracionMarca extends ReduxMixin(Polymer.Element) {
      static get is() { return 'configuracion-marca'; }
      static get properties() {
        return {
          marcas: {
            type: Array,
            value: []
          },
          marcaedit: {
            type: Object,
            value: {}
          }
        };
      }
      ready() {
        super.ready();
        this.getmarcas();
      }

      getmarcas(){
        let token = localStorage.getItem('token');
        if(!token) return;
        this.$.getmarcas.headers['tokentechu'] = token;
        this.$.getmarcas.generateRequest();
      }

      handleGetMarcasResponse(data) {
        let resp = data.detail.response;
        if(!resp.mensaje){
          this.marcas = resp;
          let lista = resp.map(function(row) {
            return { id : row.codigo, value : row.valor }
          });
          localStorage.setItem("marcas", JSON.stringify(lista));
          this.reset();
          this.dispatch({
              type: 'UPDATE_MARCAS',
              message: lista
          });
        
        } else {
          console.log(resp);
        }
      }

      verDetalle(e) {
        let codmarca= e.target.dataset.args;
        let found = this.marcas.find(function(obj) { 
            return obj.codigo == codmarca; 
        });
        found.nvocodigo = codmarca;
        this.marcaedit = found;
        console.log(this.marcaedit);
      }

      reset(){
          this.marcaedit = {};
          this.$.codmarca.focus();
      }

      validar(marca){
        if(!marca.nvocodigo || !marca.valor) return false;
        return true;
      }

      guardar(){
        if(!this.validar(this.marcaedit)){
            this.dispatch({
                type: 'UPDATE_NOTIFICACION',
                message: {msg: 'Ingrese correctamente los valores'}
            });
            return;
        }

        let token = localStorage.getItem('token');
        
        if(token){
            let ajax = (this.marcaedit.codigo) ? this.$.putmarcas : this.$.postmarcas;
            let marca = {codigo: this.marcaedit.nvocodigo, 
                        valor: this.marcaedit.valor.toUpperCase()};

            ajax.headers['tokentechu'] = token;
            ajax.body = marca;

            this.dispatch({
                type: 'UPDATE_LOADING',
                message: true
            });
          
            ajax.generateRequest();
        } 

      }

      eliminar(){
        let token = localStorage.getItem('token');
        if(!token) return;
        if(!this.marcaedit || !this.marcaedit.codigo) return;
        this.$.delmarcas.headers['tokentechu'] = token;
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: true
        });

        this.$.delmarcas.generateRequest();
      }

      handlePostMarcasResponse(data){
        let resp = data.detail.response;
        console.log(resp);
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });

        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg: 'Creado correctamente'}
        });

        this.getmarcas();
      }

      handlePutMarcasResponse(data) {
        let resp = data.detail.response;
        console.log(resp);

        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });

        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg: 'Actualizado correctamente'}
        });

        this.getmarcas();
      }

      handleMarcasError(data) {
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });

        console.log(data.detail.response);
        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg:'Ocurrió un error al guardar'}
        });
      }

      handleDelMarcasResponse(data){
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });

        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg:'Eliminación correcta.'}
        });

        this.getmarcas();
      }

    }
    window.customElements.define(ConfiguracionMarca.is, ConfiguracionMarca);
  </script>
</dom-module>
