<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/components/redux/redux-mixin.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/file-input/file-input.html">
<link rel="import" href="/bower_components/paper-tags/paper-tags.html">

<dom-module id="carga-masiva">
  <template>
    <style>
      paper-card {
        width: 100%;
      }
      paper-dropdown-input{
        width: 100%;
      }
      paper-tags{
        margin-top: 10px;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        width:100%;
        min-height: 30px;
        padding: 5px 5px 5px 5px;
      }
      paper-textarea{
        width: 100%;
      }
      iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
      }
      .flex-horizontal {
        @apply --layout-horizontal;
      }
      .flexchild {
        @apply --layout-flex;
      }
      .flex-center-justified {
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        margin-top: 30px;
      }
      paper-button {
        transition: background-color 0.3s;
        text-transform: none;
        font-size: 0.8em;
        height: 35px;
      }
      paper-button[active] {
          color: white;
          background-color: var(--paper-blue-500);
          --paper-button-flat-focus-color: var(--paper-blue-50);
      }
      file-input{
        position: relative;
      }
      .fileinput{
        margin-top: 20px;
      }
      .file-label {
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        font-size: 0.8em;
      }
    </style>
    <paper-card>
      <div class="card-content">
        <iron-form id="cargaform" allowRedirect>
          <form>
              <div class="container flex-horizontal">
                  <paper-dropdown-input label="Elegir las marcas" filter-property="value" on-iron-select="_marcaselChanged"
                    items='[[marcas]]' always-float-label>
                    <template>
                      <template is="dom-repeat" items="[[items]]" as="item">
                        <paper-item value="[[item.id]]">[[item.value]]</paper-item>
                      </template>
                    </template>
                  </paper-dropdown-input>
              </div>
              <div class="container flex-horizontal">
                <paper-tags id="taglist" label-path="label" items='{{tagsitems}}'></paper-tags>
              </div>
              <div class="container flex-horizontal fileinput">
                  <file-input id="selarchivo" extensions='["xlsx", "xls", "csv"]' maxFiles="1" required>
                      <paper-button raised>Seleccionar archivo</paper-button>
                  </file-input>
                  <p id="nombrearchivo" class="file-label">Ningún archivo seleccionado</p>
              </div>
              <div class="container flex-center-justified">
                  <paper-button raised on-click="cancelar"><iron-icon icon="cancel"></iron-icon>Cancelar</paper-button>
                  <paper-button raised on-click="guardar"><iron-icon icon="save"></iron-icon>Guardar</paper-button>
              </div>
          </form>
        </iron-form>
      </div>

    </paper-card>
    <iron-ajax
        id="postarchivo"
        method="POST"
        url="https://techu-practitioner.herokuapp.com/api/v2/personas/excel"
        on-response="handlePostArchivoResponse"
        on-error="handlePostArchivoError"
        debounce-duration="300">
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class CargaMasiva extends ReduxMixin(Polymer.Element) {
      static get is() { return 'carga-masiva'; }
      static get properties() {
        return {
          tagsitems: {
            type: Array,
            value:[]
          },
          marcas: {
            type: Array,
            statePath: 'marcas'
          },
          marcasel: {
            type: String
          }
        };
      }

      ready() {
        super.ready();
        this.shadowRoot.getElementById('selarchivo').addEventListener("change", event => this._fileChanged(event));
      }

      _marcaselChanged(e,o){
        if(o.item){
          let found = this.tagsitems.find(function(el) { 
            return el.id == o.item.value; 
          });
          if(!found) {
            let newtag = '{"id": "' + o.item.value + '","label": "'+o.item.innerText + '"}';
            this.push('tagsitems', JSON.parse(newtag));
          }
          
        }
      }

      _fileChanged(e){
        let valids = e.detail.valid;
        let invalids = e.detail.invalid;
        if(valids.length>0) {
          this.shadowRoot.getElementById('nombrearchivo').textContent=e.detail.valid[0].name;
        } else if(invalids.count>0){
          this.shadowRoot.getElementById('nombrearchivo').textContent='Archivo seleccionado inválido.';
        }
        
      }

      cancelar(e){
        this.tagsitems = [];
        this.shadowRoot.getElementById('nombrearchivo').textContent='Ningún archivo seleccionado';
        this.shadowRoot.querySelector("file-input").reset();
        this.shadowRoot.querySelector("paper-dropdown-input").clearSearch();
        this.shadowRoot.querySelector("paper-dropdown-input").value = '';
      }
      
      guardar(e) {
        let token = localStorage.getItem('token');
        if(!token) return;

        let files = this.shadowRoot.querySelector("file-input").files;
        if(files.length < 1) {
          this.dispatch({
            type: 'UPDATE_NOTIFICACION',
            message: {msg: 'Seleccione un archivo válido.'}
          });
          return;
        }

        let marcas = this.tagsitems.map(a => a.id);
        let json = {'marcas':marcas,'origen':'PNOD'};
        
        let fdata = new FormData();
        fdata.append('excel', files[0]);
        fdata.append('json', JSON.stringify(json));
        this.$.postarchivo.contentType=null;
        this.$.postarchivo.body=fdata;
        this.$.postarchivo.headers['tokentechu'] = token;

        this.dispatch({
          type: 'UPDATE_LOADING',
          message: true
        });

        this.$.postarchivo.generateRequest();
        
      }

      handlePostArchivoResponse(data){
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });

        let resp = data.detail.response;
        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg: resp.mensaje}
        });
      }

      handlePostArchivoError(data){
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });
        
        console.log(data.detail.response);
        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg:'Ocurrió un error al guardar'}
        });
      }
    }

    window.customElements.define(CargaMasiva.is, CargaMasiva);
  </script>
</dom-module>
