<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/components/redux/redux-mixin.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-button-group/paper-button-group.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-datatable-api/paper-datatable-api.html">
<link rel="import" href="/bower_components/paper-datatable-api/paper-datatable-api-column.html">
<link rel="import" href="/bower_components/paper-tags/paper-tags.html">
<link rel="import" href="/bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="/bower_components/papa-parse/papa-unparse.html">

<dom-module id="consulta-persona">
  <template>
    <style>
      :host {
	      display: block;

        --paper-datatable-api-table: {
          table-layout: fixed;
        }

        --paper-datatable-api-header: {
          color: var(--paper-light-blue-900);
        }
      }
      paper-datatable-api {
        margin-top: 10px;
        border: 1px solid #BDBDBD;                                                               
      }
      paper-card {
        width: 100%;
      }
      paper-dropdown-input{
        width: 100%;
      }
      paper-dropdown-menu{
        width: 100%;
      }
      paper-tags{
        margin-top: 10px;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        width:100%;
        min-height: 30px;
        padding: 5px 5px 5px 5px;
      }
      iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
      }
      .flex-horizontal {
        @apply --layout-horizontal;
      }
      .flexchild {
        @apply --layout-flex;
        padding:0px 15px 0px 0px;
      }
      .flex-center-justified {
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        margin-top: 10px;
      }
      paper-button {
        transition: background-color 0.3s;
        text-transform: none;
        font-size: 0.8em;
        height: 35px;
      }
      paper-button[active] {
          color: white;
          background-color: var(--paper-blue-500);
          --paper-button-flat-focus-color: var(--paper-blue-50);
      }
      /* .content-per{
        height: 250px;
      } */
    </style>
    <paper-card>
      <div class="card-content">
        <iron-a11y-keys id="a11y" keys="enter" on-keys-pressed="buscar"></iron-a11y-keys>
        <div class="container flex-horizontal">
            <div class="flexchild"><paper-input always-float-label label="Nombres" name="nombres" id="nombres"></paper-input></div>
            <div class="flexchild"><paper-input always-float-label label="A. Paterno" name="apepaterno" id="apepaterno"></paper-input></div>
            <div class="flexchild"><paper-input always-float-label label="A. Materno" name="apematerno" id="apematerno"></paper-input></div>
        </div>
        <div class="container flex-horizontal">
            <div class="flexchild">
                <paper-dropdown-menu label="Tipo documento" horizontalAlign="left" always-float-label id="tipdoc">
                    <paper-listbox slot="dropdown-content" attr-for-selected='codigo'>
                        <dom-repeat items="{{listatipdoc}}" as="item">
                          <template>
                              <paper-item codigo="[[item.codigo]]">[[item.label]]</paper-item>
                          </template>
                        </dom-repeat>
                    </paper-listbox>
                </paper-dropdown-menu>
            </div>
            <div class="flexchild">
                <paper-input always-float-label 
                  label="Nro. Documento" 
                  id="numdoc" 
                  maxlength=11 
                  prevent-invalid-input 
                  allowed-pattern="[\d]">
                </paper-input>
            </div>
            <div class="flexchild">
                <paper-dropdown-input always-float-label label="Elegir marcas" filter-property="value" on-iron-select="_marcaselChanged"
                  items='[[marcas]]'>
                  <template>
                    <template is="dom-repeat" items="[[items]]" as="item">
                      <paper-item value="[[item.id]]">[[item.value]]</paper-item>
                    </template>
                  </template>
                </paper-dropdown-input>
            </div>
        </div>
        <div class="container flex-horizontal">
          <paper-tags id="taglist" label-path="label" items='{{tagsitems}}'></paper-tags>
        </div>
        <div class="container flex-center-justified">
            <paper-button raised on-click="buscar"><iron-icon icon="search"></iron-icon>Buscar</paper-button>
            <paper-button raised on-click="reset"><iron-icon icon="clear"></iron-icon>Limpiar</paper-button>
            <paper-button raised on-click="exportar" disabled="[[!encuentra]]"><iron-icon icon="file-download"></iron-icon>Exportar</paper-button>
        </div>
        <div class="content-per">
          <paper-datatable-api data="[[personas]]">
            <paper-datatable-api-column header="#" property="nrofila">
              <template>
                <span>{{value}}</span>
              </template>
            </paper-datatable-api-column>
            <paper-datatable-api-column header="Busq. Aprox." property="aproximacion">
              <template>
                <span>{{_descBusqAproximada(value)}}</span>
              </template>
            </paper-datatable-api-column>
            <paper-datatable-api-column header="Nombre" property="nombres" other-properties='["apepaterno","apematerno"]'>
              <template>
                <span>{{value}} {{otherValues.apepaterno}} {{otherValues.apematerno}}</span>
              </template>
            </paper-datatable-api-column>
            <paper-datatable-api-column header="Tipo doc." property="tipdoc">
              <template>
                <span>{{_descTipodoc(value)}}</span>
              </template>
            </paper-datatable-api-column>
            <paper-datatable-api-column header="Nro. doc." property="numdoc">
              <template>
                <span>{{value}}</span>
              </template>
            </paper-datatable-api-column>
            <paper-datatable-api-column header="Fech. modificación" property="fechmodif">
              <template>
                <span>{{_formatDate(value)}}</span>
              </template>
            </paper-datatable-api-column>
            <paper-datatable-api-column header="Origen" property="origen">
              <template>
                <span>{{value}}</span>
              </template>
            </paper-datatable-api-column>
            <paper-datatable-api-column header="" property="" other-properties='["id"]' tdCustomStyle>
              <template>
                <paper-button on-click="verDetalle" data-args$="[[otherValues.id]]"><iron-icon icon="create" data-args$="[[otherValues.id]]"></iron-icon></paper-button>
              </template>
            </paper-datatable-api-column>
          </paper-datatable-api>
        </div>
        
      </div>
    </paper-card>
    <papa-unparse header json-array="[[personas]]"></papa-unparse>
    <iron-ajax
        id="getpersonas"
        method="POST"
        url="https://techu-practitioner.herokuapp.com/api/v2/personas/search"
        handle-as="json"
        content-type="application/json"
        on-response="handlePostPersonasResponse"
        on-error="handlePostPersonasError"
        debounce-duration="300">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ConsultaPersona extends ReduxMixin(Polymer.Element) {
      static get is() { return 'consulta-persona'; }
      static get properties() {
        return {
          tagsitems: {
            type: Array,
            value:[]
          },
          marcas: {
            type: Array,
            statePath: 'marcas'
          },
          marcasel: {
            type: String
          },
          personas: {
            type: Array,
            value: [],
            observer: '_personasChanged'
          },
          encuentra:{
            type: Boolean,
            value: false
          },
          listatipdoc: {
            type: Array,
            value: [{'codigo':'L','label':'DNI'},{'codigo':'R','label':'RUC'},{'codigo':'C','label':'CARNET DE EXTRANJERÍA'}]
          }
        };
      }

      _marcaselChanged(e,o){
        if(o.item){
          let found = this.tagsitems.find(function(el) { 
            return el.id == o.item.value; 
          });
          if(!found) {
            let newtag = '{"id": "' + o.item.value + '","label": "'+o.item.innerText + '"}';
            this.push('tagsitems', JSON.parse(newtag));
          }
          
        }
      }

      validar(filtro){
        if(filtro==undefined || filtro ==null) return false;

        let values = Object.values(filtro).filter(n => n);
        if(values.length<2) return false;
        if((filtro.tipdoc != filtro.numdoc) && (filtro.tipdoc=='' || filtro.numdoc=='')) return false;
        if((filtro.nombres && filtro.apepaterno=='')) return false;
        if((filtro.apematerno || filtro.apepaterno) && !filtro.nombres) return false;
        return true;
      }

      buscar(){
        let token = localStorage.getItem('token');
        if(!token) return;

        let filtro = {};
        filtro.nombres = this.$.nombres.value.toUpperCase();
        filtro.apepaterno = this.$.apepaterno.value.toUpperCase();
        filtro.apematerno = this.$.apematerno.value.toUpperCase();
        filtro.tipdoc = this.$.tipdoc.querySelector('paper-listbox').selected || '';
        filtro.numdoc = this.$.numdoc.value || '';
        filtro.paisdomicilio = '';
        filtro.codcentral = '';
        filtro.marcas = this.tagsitems.map(a => a.id);

        if(!this.validar(filtro)) {
          this.dispatch({
            type: 'UPDATE_NOTIFICACION',
            message: {msg: 'Ingrese correctamente los valores'}
          });
          return;
        }

        this.$.getpersonas.body = filtro;
        this.$.getpersonas.headers['tokentechu'] = token;
        this.dispatch({
            type: 'UPDATE_LOADING',
            message: true
        });
        this.personas = [];
        this.$.getpersonas.generateRequest(); 
      }

      handlePostPersonasResponse(data) {
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });
        let resp = data.detail.response;
        if(!resp.mensaje){
          this.personas = resp;
        } else {
          this.dispatch({
            type: 'UPDATE_NOTIFICACION',
            message: {msg: resp.mensaje}
          });
        }
      }

      handlePostPersonasError(data) {
        console.log(data.detail.response);
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });
        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg:'Ocurrió un error al consultar'}
        });
      }

      verDetalle(e) {
        let id= e.target.dataset.args;
        document.location.href="/#/persona/"+id;
      }

      _formatDate(fecha){
        let ld = new Date(fecha);
        ld.setHours(ld.getHours() + (ld.getTimezoneOffset()/60) - 5); 
        let ls = ld.getDate() + '/' + (ld.getMonth()+1) + '/' + ld.getFullYear();
        ls += ' '+ld.getHours() + ':' + ld.getMinutes() + ':' + ld.getSeconds();
        return ls;
      }

      _descTipodoc(tipdoc){
        if(!tipdoc) return '';
        let found = this.listatipdoc.find(function(obj) { 
            return obj.codigo == tipdoc; 
        });
        
        return (found) ? found.label : '';
      }

      _personasChanged(){
        this.encuentra = this.personas.length>0;
      }

      reset(){
        this.$.nombres.value = '';
        this.$.apepaterno.value = '';
        this.$.apematerno.value = '';
        this.$.tipdoc.value = '';
        this.$.tipdoc.querySelector('paper-listbox').selected=undefined;
        this.$.numdoc.value = '';
        this.shadowRoot.querySelector("paper-dropdown-input").clearSearch();
        this.shadowRoot.querySelector("paper-dropdown-input").value = '';
        this.tagsitems = [];
        this.personas = [];
      }

      exportar(){
        this.shadowRoot.querySelector('papa-unparse').downloadCsv('personas.csv');
      }

      _descBusqAproximada(value){
        return (value) ? 'SI' : 'NO';
      }
    }

    window.customElements.define(ConsultaPersona.is, ConsultaPersona);
  </script>
</dom-module>
