<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/components/redux/redux-mixin.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="datos-persona-juridica">
  <template>
    <style>
      paper-checkbox {
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin-top: 20px;
      }
      paper-dropdown-input{
        width: 100%;;
      }
      iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
      }
      .flex-horizontal {
        @apply --layout-horizontal;
      }
      .flexchild {
        @apply --layout-flex;
        padding:0px 15px 0px 0px;
      }
    </style>
    <div class="container flex-horizontal">
      <div class="flexchild">
        <paper-input class="inputmayus" always-float-label label="Razón social" name="nombres" id="nombres">
        </paper-input>
      </div>
      <div class="flexchild">
        <paper-input always-float-label label="RUC" id="numdoc" maxlength=11 prevent-invalid-input allowed-pattern="[\d]">
        </paper-input>
      </div>
    </div>
    <div class="container flex-horizontal">
      <div class="flexchild">
        <paper-dropdown-input id="paisresidencia" 
              label="País de residencia" 
              filter-property="value" maxSize=250 tooBig=false
              items='[[paises]]' always-float-label>
            <template id="selectpaises" slot="dropdown-content">
              <template is="dom-repeat" items="[[items]]" as="item">
                <paper-item id="pais[[item.id]]" value="[[item.id]]">[[item.value]]</paper-item>
              </template>
            </template>
        </paper-dropdown-input>
      </div>
      <div class="flexchild">
        <paper-checkbox id="escliente" on-change="_esclienteChanged">Cliente BBVA</paper-checkbox>
      </div>
      <div class="flexchild">
          <paper-input always-float-label label="Número cliente" disabled=[[!clientesel]] id="codcentral"></paper-input>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DatosPersonaJuridica extends ReduxMixin(Polymer.Element) {
      static get is() { return 'datos-persona-juridica'; }
      static get properties() {
        return {
          clientesel:{
            type: Boolean,
            value: false
          },
          paises: {
            type: Array,
            statePath: 'paises'
          }
        };
      }

      ready() {
        super.ready();
        this.$.paisresidencia.maxSize = 250;
      }

      _esclienteChanged(o){
        this.clientesel = this.$.escliente.checked;
        if(!this.clientesel) this.$.codcentral.value = '';
        
      }
      
    }

    window.customElements.define(DatosPersonaJuridica.is, DatosPersonaJuridica);
  </script>
</dom-module>
