<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/components/redux/redux-mixin.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-button-group/paper-button-group.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-tags/paper-tags.html">

<link rel="import" href="/src/components/personas/datos-persona-natural.html">
<link rel="import" href="/src/components/personas/datos-persona-juridica.html">

<dom-module id="datos-persona">
  <template>
    <style>
      paper-card {
        width: 100%;
      }
      iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
      }
      .flex-horizontal {
        @apply --layout-horizontal;
      }
      .flexchild {
        @apply --layout-flex;
        padding:0px 15px 0px 0px;
      }
      .flex-center-justified {
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        margin-top: 2px;
      }
      paper-button {
        transition: background-color 0.3s;
        text-transform: none;
        font-size: 0.8em;
        height: 35px;
      }
      paper-button[active] {
          color: white;
          background-color: var(--paper-blue-500);
          --paper-button-flat-focus-color: var(--paper-blue-50);
      }
      paper-dropdown-input{
        width: 100%;
      }
      paper-textarea{
        width: 100%;
      }
      paper-tags{
        margin-top: 10px;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        width:100%;
        min-height: 30px;
        padding: 5px 5px 5px 5px;
        margin-bottom: 10px;
      }
    </style>
    <paper-card>
      <div class="card-content">
          <div class="container flex-center-justified buttons">
              <paper-button-group id="vistatipopersona" selected=0>
                  <paper-button on-click="cambiavista">Persona Natural</paper-button>
                  <paper-button on-click="cambiavista">Persona Jurídica</paper-button>
              </paper-button-group>
          </div>
          <datos-persona-natural id="pernatural" hidden$=[[!esNatural]]></datos-persona-natural>
          <datos-persona-juridica id="perjuridica" hidden$=[[esNatural]]></datos-persona-juridica>
          
          <div class="container flex-horizontal">
            <paper-dropdown-input label="Elegir las marcas" filter-property="value" on-iron-select="_marcaselChanged"
              items='[[marcas]]' always-float-label>
              <template>
                <template is="dom-repeat" items="[[items]]" as="item">
                  <paper-item value="[[item.id]]">[[item.value]]</paper-item>
                </template>
              </template>
            </paper-dropdown-input>
          </div>
          <div class="container flex-horizontal">
            <paper-tags id="taglist" label-path="label" items='{{tagsitems}}'></paper-tags>
          </div>

          <div class="container flex-center-justified">
                  <paper-button raised on-click="nuevo"><iron-icon icon="add" disabled></iron-icon>Nuevo</paper-button>
                  <paper-button raised on-click="guardar"><iron-icon icon="save"></iron-icon>Guardar</paper-button>
                  <paper-button raised on-click="eliminar" disabled="[[!idpersona]]"><iron-icon icon="delete"></iron-icon>Eliminar</paper-button>
          </div>
      </div>
    </paper-card>
    <iron-ajax
        id="getpersona"
        url="https://techu-practitioner.herokuapp.com/api/v2/personas/[[idpersona]]"
        on-response="handleGetPersonaResponse"
        on-error="handlePersonaError"
        debounce-duration="300">
    </iron-ajax>

    <iron-ajax
        id="postpersona"
        method="POST"
        url="https://techu-practitioner.herokuapp.com/api/v2/personas"
        handle-as="json"
        content-type="application/json"
        on-response="handlePostPersonaResponse"
        on-error="handlePersonaError"
        debounce-duration="300">

    <iron-ajax
        id="putpersona"
        method="PUT"
        url="https://techu-practitioner.herokuapp.com/api/v2/personas/[[idpersona]]"
        handle-as="json"
        content-type="application/json"
        on-response="handlePutPersonaResponse"
        on-error="handlePersonaError"
        debounce-duration="300">
    </iron-ajax>

    <iron-ajax
        id="delpersona"
        method="DELETE"
        url="https://techu-practitioner.herokuapp.com/api/v2/personas/[[idpersona]]"
        handle-as="json"
        on-response="handleDelPersonaResponse"
        on-error="handlePersonaError"
        debounce-duration="300">
    </iron-ajax>
  </template>

  <script>
    class DatosPersona extends ReduxMixin(Polymer.Element) {
      static get is() { return 'datos-persona'; }
      static get properties() {
        return {
          esNatural: {
            type: Boolean,
            value: true
          },
          tagsitems: {
            type: Array,
            value:[]
          },
          marcas: {
            type: Array,
            statePath: 'marcas'
          },
          marcasel: {
            type: String
          },
          idpersona: {
            type: String,
            statePath: 'idpersona',
            observer: '_idpersonaChanged'
          }
        };
      }

      validar(persona){
        if(persona==undefined || persona ==null) return false;
        let values = Object.values(persona).filter(n => n);
        if(values.length<2) return false;

        if((persona.tipdoc != persona.numdoc) && (persona.tipdoc=='' || persona.numdoc=='')) return false;
        if((persona.nombres!='' && persona.apepaterno=='')) return false;
        if((persona.apematerno!='' || persona.apepaterno!='') && persona.nombres=='') return false;
        return true;
      }

      guardar(){
        let persona = {}, form;
        if(this.esNatural) {
          form = this.$.pernatural;
          persona.apepaterno = form.$.apepaterno.value.toUpperCase();
          persona.apematerno = form.$.apematerno.value.toUpperCase();
          persona.tipdoc=form.$.tipdoc.querySelector('paper-listbox').selected;
        } else {
          form = this.$.perjuridica;
          persona.tipdoc='R';
        }

        persona.nombres = form.$.nombres.value.toUpperCase();
        persona.paisresidencia= (form.$.paisresidencia.selectedItem||{}).value;
        persona.codcentral = form.$.codcentral.value;
        persona.numdoc = form.$.numdoc.value;
        persona.id = this.idpersona;
        persona.marcas = this.tagsitems.map(a => a.id);

        if(!this.validar(persona)) {
          this.dispatch({
            type: 'UPDATE_NOTIFICACION',
            message: {msg: 'Ingrese correctamente los valores'}
          });
          return;
        }

        let token = localStorage.getItem('token');
        
        if(token){
          let ajax = (this.idpersona) ? this.$.putpersona : this.$.postpersona;
          persona.origen='PNOD';
          ajax.headers['tokentechu'] = token;
          ajax.body = persona;

          this.dispatch({
            type: 'UPDATE_LOADING',
            message: true
          });
          
          ajax.generateRequest();
        } 
      }

      cambiavista() {
        this.esNatural = this.$.vistatipopersona.selected==0;
      }

      _marcaselChanged(e,o){
        if(o.item){
          let found = this.tagsitems.find(function(el) { 
            return el.id == o.item.value; 
          });
          if(!found) {
            let newtag = '{"id": "' + o.item.value + '","label": "'+o.item.innerText + '"}';
            this.push('tagsitems', JSON.parse(newtag));
          }
        }
      }

      _idpersonaChanged(actual, anterior){
        let token = localStorage.getItem('token');

        if(token && actual){
          this.$.getpersona.headers['tokentechu'] = token;
          this.$.getpersona.generateRequest();
        } else{
          this.reset();
        }

      }

      handleGetPersonaResponse(data) {
        let form, persona = data.detail.response[0];
        this.reset();
        if(persona==undefined) return;

        this.esNatural = persona.tipdoc !='R';
        if(this.esNatural) {
          this.$.vistatipopersona.selected = 0;
          form = this.$.pernatural;
          form.$.apepaterno.value = persona.apepaterno;
          form.$.apematerno.value = persona.apematerno;
          form.$.tipdoc.querySelector('paper-listbox').selected = persona.tipdoc;
        } else {
          this.$.vistatipopersona.selected = 1;
          form = this.$.perjuridica;
        }

        form.$.nombres.value=persona.nombres;
        form.$.numdoc.value = persona.numdoc;
        let pais = form.$.paisresidencia.querySelector('#pais' + persona.paisresidencia);
        form.$.paisresidencia._setSelectedItem(pais);

        if(persona.codcentral){
          form.$.codcentral.value = persona.codcentral;
          form.$.escliente.checked=true;
          form.$.escliente.value = 'on';
          form.$.codcentral.disabled = false;
        }

        this.persontags(persona.marcas);

        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });
      }

      reset(){
        let formn = this.$.pernatural,
            formj = this.$.perjuridica;

        this.$.vistatipopersona.selected = 0;
        this.esNatural=true;
        formn.$.escliente.value = undefined;
        formn.$.escliente.checked=false;
        formn.$.codcentral.disabled = true;
        formn.$.codcentral.value=''
        formn.$.nombres.value = '';
        formn.$.apepaterno.value = '';
        formn.$.apematerno.value = '';
        formn.$.paisresidencia.value = '';
        formn.$.tipdoc.value = '';
        formn.$.numdoc.value = '';
        formj.$.escliente.value = undefined;
        formj.$.escliente.checked=false;
        formj.$.codcentral.disabled = true;
        formj.$.codcentral.value='';
        formj.$.nombres.value='';
        formj.$.paisresidencia.value='';
        formj.$.numdoc.value = '';
        formn.shadowRoot.querySelector("paper-dropdown-input").clearSearch();
        formn.shadowRoot.querySelector("paper-dropdown-input").value = '';
        formj.shadowRoot.querySelector("paper-dropdown-input").clearSearch();
        formj.shadowRoot.querySelector("paper-dropdown-input").value = '';
        this.shadowRoot.querySelector("paper-dropdown-input").clearSearch();
        this.shadowRoot.querySelector("paper-dropdown-input").value = '';
        formn.$.tipdoc.querySelector('paper-listbox').selected = undefined;

        this.tagsitems = [];
      }

      nuevo(){
        this.reset();
        this.set('route.path', '/');        
      }

      eliminar(){
        let token = localStorage.getItem('token');
        if(!token) return;
        if(!this.idpersona) return;
        this.$.delpersona.headers['tokentechu'] = token;
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: true
        });

        this.$.delpersona.generateRequest();
      }

      handleDelPersonaResponse(data){
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });

        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg:'Eliminación correcta.'}
        });

        this.set('route.path', '/'); 
      }

      handlePutPersonaResponse(data) {
        let resp = data.detail.response;

        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });

        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg: resp.mensaje}
        });
      }

      handlePersonaError(data) {
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });

        console.log(data.detail.response);
        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg:'Ocurrió un error al guardar'}
        });
      }


      handlePostPersonaResponse(data){
        let resp = data.detail.response;
        this.idpersona = resp.id;

        this.set('route.path', '/'+this.idpersona);

        this.dispatch({
          type: 'UPDATE_LOADING',
          message: false
        });

        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg: 'Creado correctamente'}
        });

      }

      persontags(tags){
        if(!tags) return [];
        this.tagsitems = [];
        tags.forEach(element => {
          let found = this.marcas.find(function(obj) { 
            return obj.id == element; 
          });
          let newtag = '{"id": "' + found.id + '","label": "'+found.value + '"}';
          this.push('tagsitems', JSON.parse(newtag));
        });
      }
    }

    window.customElements.define(DatosPersona.is, DatosPersona);
  </script>
</dom-module>
