<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/components/redux/redux-mixin.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">

<dom-module id="datos-persona-natural">
  <template>
    <style>
      paper-checkbox {
        width:100%;
        text-align: right;
        margin-top: 20px;
        font-size: 12px;
      }
      paper-textarea{
        width: 100%;
      }
      paper-dropdown-input{
        width: 100%;
      }
      paper-dropdown-menu{
        width: 100%;
      }
      iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
      }
      .flex-horizontal {
        @apply --layout-horizontal;
      }
      .flexchild {
        @apply --layout-flex;
        padding:0px 15px 0px 0px;
      }
      .flex-center-justified {
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        margin-top: 10px;
      }
    </style>
    <div class="container flex-horizontal">
      <div class="flexchild"><paper-input always-float-label label="Nombres" name="nombres" id="nombres"></paper-input></div>
      <div class="flexchild"><paper-input always-float-label label="A. Paterno" name="apepaterno" id="apepaterno"></paper-input></div>
    </div>
    <div class="container flex-horizontal">
      <div class="flexchild"><paper-input always-float-label label="A. Materno" name="apematerno" id="apematerno"></paper-input></div>
      <div class="flexchild">
          <paper-dropdown-input id="paisresidencia" 
                  label="País de residencia" 
                  filter-property="value" maxSize=250 tooBig=false
                  items='[[paises]]' always-float-label>
            <template id="selectpaises" slot="dropdown-content">
              <template is="dom-repeat" items="[[items]]" as="item">
                <paper-item id="pais[[item.id]]" value="[[item.id]]">[[item.value]]</paper-item>
              </template>
            </template>
          </paper-dropdown-input>
      </div>
    </div>
    <div class="container flex-horizontal">
        <div class="flexchild">
            <paper-dropdown-menu label="Tipo documento" always-float-label id="tipdoc">
                <paper-listbox slot="dropdown-content" attr-for-selected='codigo'>
                    <dom-repeat items="{{listatipdoc}}" as="item">
                      <template>
                          <paper-item codigo="[[item.codigo]]">[[item.label]]</paper-item>
                      </template>
                    </dom-repeat>
                </paper-listbox>
            </paper-dropdown-menu>
        </div>
        <div class="flexchild">
            <paper-input always-float-label label="Nro. Documento" id="numdoc" maxlength=11 prevent-invalid-input allowed-pattern="[\d]">
            </paper-input>
        </div>
    </div>
    <div class="container flex-horizontal">
      <div class="flexchild">
          <paper-checkbox id="escliente" on-change="_esclienteChanged">Cliente BBVA</paper-checkbox>
      </div>
      <div class="flexchild">
          <paper-input  always-float-label label="Número cliente" 
                        disabled=[[!clientesel]] 
                        id="codcentral" 
                        maxlength=8 
                        prevent-invalid-input 
                        allowed-pattern="[\d]">
          </paper-input>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DatosPersonaNatural extends ReduxMixin(Polymer.Element) {
      static get is() { return 'datos-persona-natural'; }
      static get properties() {
        return {
          clientesel:{
            type: Boolean,
            value: false
          },
          listatipdoc: {
            type: Array,
            value: [{'codigo':'L','label':'DNI'},{'codigo':'C','label':'CARNET DE EXTRANJERÍA'}]
          },
          paises: {
            type: Array,
            statePath: 'paises'
          }
        };
      }

      ready() {
        super.ready();
        this.$.paisresidencia.maxSize = 250;
      }

      _esclienteChanged(o){
        this.clientesel = this.$.escliente.checked;
        this.$.codcentral.value = '';
      }

    }

    window.customElements.define(DatosPersonaNatural.is, DatosPersonaNatural);
  </script>
</dom-module>
