<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/components/redux/redux-mixin.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-form/iron-form.html">
<link rel="import" href="/bower_components/iron-a11y-keys/iron-a11y-keys.html">

<dom-module id="user-login">
  <template>
    <style>
      .flex-horizontal {
        @apply --layout-horizontal;
        position: relative; 
      }
      paper-button {
        text-transform: none;
        position: relative;
        display: inline-block;
        padding: 12px 24px;
        margin: 1em 0 1em 0;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        letter-spacing: 1px;
        border: 0;
        cursor: pointer;
        background-color: #1d73b2;
        color:white;
      }
      paper-input {
        font-size: 9px;
        padding: 0px 0px 0px 0px;
        -webkit-appearance: none;
        display: block;
        width: 100%;
      }
      .rate-header{
        position: relative;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background: #1d73b2;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        color: #FAFAFA;
        animation: scale_header 0.6s cubic-bezier(.55, 0, .1, 1), text_opacity 1s cubic-bezier(.55, 0, .1, 1);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
              0px 1px 5px 0px rgba(0, 0, 0, 0.12),
              0px 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      .rate-header h2 {
        margin: 20px 10px 10px 10px;
        font:inherit;
      }
      .rate-header h4 {
        font-size: 0.7em;
        margin: 10px 10px 10px 10px;
        animation: text_opacity 1.5s cubic-bezier(.55, 0, .1, 1);
        color: rgba(255, 255, 255, 0.4);
      }
      .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 400px;
        height: auto;
        box-sizing: border-box;
        animation: input_opacity 0.2s cubic-bezier(.55, 0, .1, 1);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      .login-content {
        position: relative;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 20px;
      }
      .header__image {
          height: 20px;
          width: 100%;
          will-change: height;
          margin: 0 auto;
          -webkit-transition: height .33333s;
          transition: height .33333s;
          max-width: none;
          display: inline-block;
          padding: 10px 0px 10px 0px;
          background: #072146;
      }
    </style>
        <div class="card-content">
            <div class="rate-header">
              <img src="https://www.bbva.pe/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg" 
              scrset="https://www.bbva.pe/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg" 
              sizes="(min-width: 900px) 20vw,50vw" itemprop="logo" class="header__image" alt="BBVA" role="img">
              <h2>Personas no deseadas</h2>
              <h4>Login</h4>
            </div>
            <div class="login-content">
              <iron-a11y-keys id="a11y" keys="enter" on-keys-pressed="login"></iron-a11y-keys>
              <iron-form id="loginform" allowRedirect>
                <form>
                    <div class="flex-horizontal">
                        <paper-input  required 
                                      auto-validate 
                                      label="Email" 
                                      id="usuario" 
                                      type="email" 
                                      error-message="Email incorrecto" 
                                      autocomplete
                                      value="{{email::input}}">
                          </paper-input>
                    </div>
                    <div class="flex-horizontal">
                        <paper-input  required 
                                      auto-validate 
                                      type="password" 
                                      label="Clave" 
                                      id="password" 
                                      error-message="Ingresar clave" 
                                      value="{{password::input}}">
                        </paper-input>
                    </div>
                    <div class="flex-horizontal buttons">
                        <paper-button raised on-click="login" active>Ingresar</paper-button>
                    </div>
                </form>
              </iron-form>
            </div>
        </div>
        <paper-toast id="tmessage"></paper-toast>
        <iron-ajax
          id="requestlogin"
          loading={{loading}}
          method="POST"
          url="https://techu-practitioner.herokuapp.com/api/v2/login"
          handle-as="json"
          content-type="application/json"
          on-response="handleLoginResponse"
          on-error="handleLoginError"
          debounce-duration="300">
        </iron-ajax>

  </template>

<script>
    /**
     * @customElement
     * @polymer
     */
    class UserLogin extends ReduxMixin(Polymer.Element) {
      static get is() { return 'user-login'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }

      login(e){
        if(this.$.loginform.validate()){
          if(this.email && this.password){ 
          this.$.requestlogin.body = { 
            "email":this.email, 
            "password":this.password 
          }; 
          this.loading = true;
          this.dispatch({
            type: 'UPDATE_LOADING',
            message: this.loading
          });
          this.$.requestlogin.generateRequest(); 
        }
        }
      }

      handleLoginResponse(data) {
        this.loading = false;
        this.dispatch({
          type: 'UPDATE_LOADING',
          message: this.loading
        });
        
        let resp = data.detail.response;
        if(resp.token){
          localStorage.setItem("token", resp.token);
          localStorage.setItem("nombreusuario", resp.nombreusuario);

          this.dispatch({
            type: 'UPDATE_USERNAME',
            message: resp.nombreusuario
          });

          this.dispatch({
            type: 'UPDATE_LOGIN_STATE',
            message: true
          });
        } else {
          console.log(resp);
          this.dispatch({
            type: 'UPDATE_NOTIFICACION',
            message: {msg: 'Error al obtener credenciales.'}
          });  
        }
        
      }
      
      handleLoginError(data){
        this.loading = false;
        this.dispatch({
            type: 'UPDATE_LOADING',
            message: this.loading
          });
        let resp = data.detail.request.xhr.response;

        this.dispatch({
          type: 'UPDATE_NOTIFICACION',
          message: {msg: resp.auth}
        });      
      }
    }

    window.customElements.define(UserLogin.is, UserLogin);
  </script>
</dom-module>
